.idea/
.omx/
__pycache__/
*.pyc
*.pyo
*.class
*.apkg
*.pid

backend/target/
backend/uploads/
backend/*.log
backend/*.err
backend/*.txt
backend/logs/

frontend/node_modules/
frontend/dist/
frontend/*.log
frontend/*.err.log

dataset/kyzz/

deploy/logs/
uploads/
