.idea/
.omx/
__pycache__/
*.pyc
*.pyo
*.class
*.apkg

backend/target/
backend/*.log
backend/*.err
backend/*.txt
backend/logs/

frontend/node_modules/
frontend/dist/
frontend/*.log
frontend/*.err.log

dataset/kyzz/

deploy/logs/
